/.tx export-ignore
/.github export-ignore
/tests export-ignore
/.gitattributes export-ignore
/.ecs export-ignore
/.gitignore export-ignore
/phpunit.xml.dist export-ignore
/.travis.yml export-ignore
/docs export ignore