{% block body %}

    <h1>Welcome to our homepage</h1>

    <p>We are purchasing</p>

    {% for animal in animals %}

        <ul>
            <li> {{ animal.color }} {{ animal.species }}</li>
        </ul>

    {% endfor %}

{% endblock %}
